body {
    text-align: center;
    background: white;
}

h1 {
    margin-top: 15px;
    color: white;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.status {
    font-size: 30px;
}

button {
    width: 200px;
    height: 60px;
    font-size: 30px;
    background: #eee;
    cursor: pointer;
}